* {
	font-family: sans-serif;
	font-weight: 300;
}

@media only screen and (max-width: 3in) {
  * {
	font-size: 0.35in;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
	text-align: center;
	font-family: sans-serif;
}